<h1>Goku</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{nombre}}</dd>

  <td>Edad:</td>
  <dd>{{edad}}</dd>

  <td>Método:</td>
  <dd>{{getDescripcionHeroe()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{nombreCapitalizado}}</dd>
</dl>

<button *ngIf="nombre==='Goku'" class="btn btn-primary" (click)="cambiarNombre()">
  Cambiar nombre

</button>

<button *ngIf="edad===56" class="btn btn-primary" (click)="cambiarEdad()">
  Cambiar edad
</button>

<button class="btn btn-primary" (click)="restablecerHeroe()">
  Restablecer
</button>

